<footer>
    <!-- Espacio para colocar las redes sociales, por ejemplo... -->
    <div class="iconsPosition">

        <div><a href="#" class="icon"><i class="fab fa-facebook-square fa-2x "></i></a></div>
        <div><img src="/img/imgFooter2.svg" width="60" height="40" class="pl-3 pr-3" alt=""></div>
        <div><a href="#" class="icon"><i class="fab fa-instagram fa-2x "></i></a></div>
        <div><img src="/img/imgFooter1.svg" width="60" height="40" class="pl-3 pr-3" alt=""></div>
        <div><a href="#" class="icon pr-0"><i class="fab fa-whatsapp fa-2x "></i></a></div>

    </div>
</footer>
