<nav class="navbar navbar-expand-lg navbar-light bgNavbar">
    <a class="navbar-brand mr-5 pr-5 logoPosition" href="/">
        <img src="/img/logo.svg" width="60" height="40" class="" alt="">
        <span class="nameLogo">bikeRent</span>
    </a>

    <div class="collapse navbar-collapse listStyle" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active mr-4" href="/alquiler/lista"><span class="itemsNav">Alquileres</span></a>
            <a class="nav-item nav-link active mr-4" href="/cliente/lista"><span class="itemsNav">Clientes</span></a>
            <a class="nav-item nav-link active mr-4" href="/bicicleta/lista"><span class="itemsNav">Bicicletas</span></a>
        </div>
    </div>

</nav>