<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head"></head>

    <body>
        <header>

            <nav th:replace="/fragments/navbar :: nav"></nav>

        </header>
        <main>
            <section class="row sectionMain">
                <div class="col-12 col-sm-8 sectionMain01">
                    <div th:replace="/fragments/exito_error :: div"></div>
                    <h2 class="mt-5 pb-2">Registro de Clientes</h2>
                    <form th:action="@{/cliente/registro}" method="POST" class="col-5 flexColumn">
                        <input hidden th:value="${id}" name="id">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label for="surname">Apellido</label>
                            <input type="text" class="form-control" name="surname">
                        </div>
                        <div class="form-group">
                            <label for="dni">DNI</label>
                            <input type="number" class="form-control" name="dni">
                        </div>
                        <div class="form-group">
                            <label for="phone">Celular</label>
                            <input type="text" class="form-control" name="phone">
                        </div>
                        <button type="submit" class="btn btnColor mt-2 mb-5" data-toggle="modal" data-target="#exampleModal">Agregar Cliente</button>
                    </form>
                </div>
                <div class="col-12 col-sm-4 sectionMain02 text-light">
                    <h2>Tips</h2>
                    <p>Tanto el nombre como el apellido del cliente no deben contener números.</p>
                    <p>El dni debe contener al menos 8 dígitos y no debe ingresar guiones.</p>
                    <p>El número de celular debe contener el código de área y no debe ingresar guiones.</p>
                </div>
            </section>
        </main>
        <footer th:replace="/fragments/footer :: footer"></footer>
        <script th:replace="/fragments/scriptBootstrap :: script"></script>

    </body>

</html>

